<%= render "layouts/navigation" %>

<h1>Here are all <%= current_user.username %>'s events available!</h1>
<% if @user.created_events.any? %>
  <ul>
    <% @user.created_events.each do |event| %>
      <li>
        <div class="Event">
          <p><%= event.name %></p>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>...or not I guess?</p>
<% end %>
<h3>Here are all of their attended events!</h3>
<% if @user.attended_events.any? %>
  <ul>
    <% @user.attended_events.each do |event| %>
      <li>
        <% if event.date < Time.now.to_date %>
          <div class="Past-Event">
            <p><%= event.name %> (ended)</p>
          </div>
        <% else %>
          <div class="Upcoming-Event">
            <p><%= event.name %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>...if there were any, that is...</p>
<% end %>
<%= link_to "Make a new event!", new_event_path %>