<%= render "layouts/navigation" %>

<h1>Here are all the upcoming events available!</h1>
<% if @events.upcoming.any? %>
  <ul>
    <% @events.upcoming.each do |event| %>
      <li>
        <div class="upcoming-event">
          <%= link_to event.name, event_path(event.id) %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>...if there were any...</p>
<% end %>
<br />
<h2>Here are all past events</h2>
<% if @events.past.any? %>
  <ul>
    <% @events.past.each do |event| %>
      <li>
        <div class="past-event">
          <%= link_to event.name, event_path(event.id) %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>...if there were any...</p>
<% end %>
<% if flash[:alert] %>
  <br />
  <br />
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <br />
  <br />
  <div class="notice"><%= flash[:notice] %></div>
<% end %>