<%= render "layouts/navigation" %>

<h1>Create your own event here!</h1>

<%= form_with model: @event do |form| %>
  <%= form.label :name, "What event is about?" %><br />
  <%= form.text_field :name, placeholder: "Party at Jeff's" %><br /><br />
  <%= form.label :date, "When:" %><br />
  <%= form.date_field :date %><br /><br />
  <%= form.submit "Create" %><br />
<% end %>
<br />
<%= link_to "Home", root_path %>